*{

    margin: 0;
    padding: 0;
}




.heading{
    background-color: rgb(111, 222, 222);
    padding: 20px;
    border: 15px solid red;
    width: 200px;
    margin: 0 auto; 
   
}
#para{
    color: darkblue; margin-top: 50px;
}